APScheduler==3.0.3
boto3==1.1.2
botocore==1.1.11
docutils==0.12
futures==2.2.0
jmespath==0.7.1
prettytable==0.7.2
python-dateutil==2.4.2
pytz==2015.4
requests==2.7.0
simple-salesforce==0.68.0
six==1.9.0
tzlocal==1.2
wsgiref==0.1.2
